* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
    text-rendering: optimizeLegibility;
}

/* --------------------------------------- Common --------------------------------------- */
/* --------------------------------------- Common --------------------------------------- */
/* --------------------------------------- Common --------------------------------------- */

:root {
    --primary-color: #0F1B4C;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    min-width: 98px;
    padding: 18.5px 20px;
    background: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    border-radius: 12px;
}

.btn:hover {
    background-color: rgba(15, 27, 76, 0.9);
    transition: 0.3s;
}

.sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    color: #000339;
}

.desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    color: #5A6473;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* --------------------------------------- Header --------------------------------------- */
/* --------------------------------------- Header --------------------------------------- */
/* --------------------------------------- Header --------------------------------------- */

.fix-header {
    position: sticky;
    top: -26px;
    padding-top: 26px;
    background-color: #E6F0FF;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: #E6F0FF;
    height: calc(100vh - 90px);
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4F5361;
    padding: 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.logo-nav {
    margin-right: calc(64px - 14px);
}

.navbar .sign-btn{
    margin-left: auto;
}

.navbar .sign-btn > .btn {
    padding: 13px 20px;
    font-size: 1.4rem;
    margin-left: 18px;
    border-radius: 8px;
}

.navbar .sign-btn .sign-in {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

/* --------------------------------------- Hero information --------------------------------------- */
/* --------------------------------------- Hero information --------------------------------------- */
/* --------------------------------------- Hero information --------------------------------------- */

.header .info {
    max-width: 51%;
}

.header .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.header .title {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 119%;
    color: #000336;
    margin-top: 8px;
}

.header .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 178%;
    color: #5A6473;
}

.hero-cta {
    margin-top: 40px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* --------------------------------------- Clients --------------------------------------- */
/* --------------------------------------- Clients --------------------------------------- */
/* --------------------------------------- Clients --------------------------------------- */

.clients {
    margin-top: 122px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-desc .desc {
    margin-top: 25px;
    font-weight: 500;
    font-size: 1.6rem;
    color: #7D8589;
}

.clients .icon-clients {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    justify-content: center;
}

.clients .icon-clients .icon-item {
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 90px;
    border-radius: 15px;
}

.clients .icon-clients .icon-item:hover {
    transition: 1s;
    box-shadow: -3px 65px 97px -25px rgba(0,0,0,0.27);
    -webkit-box-shadow: -3px 65px 97px -25px rgba(0,0,0,0.27);
    -moz-box-shadow: -3px 65px 97px -25px rgba(0,0,0,0.27);
}

.How{
    position: relative;
}

.bar {
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: black;
    top: 0;
}

.Test {
    position: relative;
}

.bar {
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: black;
    left: 50%;
}

/* --------------------------------------- Guides --------------------------------------- */
/* --------------------------------------- Guides --------------------------------------- */
/* --------------------------------------- Guides --------------------------------------- */

.guides .wrap {
    width: 460px;
    max-width: 100%;
    margin: 0 auto;
}

.guides .sub-title,
.guides .desc {
    text-align: center;
}

.guides .sub-title {
    position: relative;
    margin-top: 200px;
}

.guides .sub-title::before {
    display: inline-block;
    position: absolute;
    content: "";
    width: 41px;
    height: 4px;
    background-color: #000339;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
    border-radius: 12px;
}

.guides .desc {
    margin-top: 20px;
}

.list-guide {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

.guide-item {
    margin: 0px 70px;
    text-align: center;
}

.guide-item > .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    color: #3B3C45; 
}

.guide-item > .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689FF;
}

.guide-item > .link .arrow {
    margin-left: 7px;
}

.guide-btn {
    display: flex;
    justify-content: center;
}

.guide-btn .btn {
    margin-top: 50px;
    min-width: 170px;
}

/* --------------------------------------- Featured --------------------------------------- */
/* --------------------------------------- Featured --------------------------------------- */
/* --------------------------------------- Featured --------------------------------------- */
#featured {
    margin-top: 120px;
    padding: 110px 0;
    background-color: #F5FAFE;
}

#featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

#featured .desc { 
    line-height: 1.88;
}

#featured .link {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689FF;
}

#featured .link .arrow {
    position: relative;
    top: -2px;
    margin-left: 8px;
}

#featured .list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

#featured .item {
    border: 12px;
    background-color: white;
    border-radius: 12px;
    flex: 1;
}

#featured .item .thumb {
    width: 100%;
    flex: 1;
    height: 227px;
    object-fit: cover;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

#featured .item .body {
    padding: 17px 20px 24px;
}

#featured .item .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
}

#featured .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #A3A6AB;
    word-break: break-all;
}

#featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

#featured .item .label {
    font-weight: 500;
    font-size: 14px;
    color: #4D4D52;
    margin-left: 8px;
}

#featured .item .icon {
    margin-left: 22px;
}

#featured .item .icon:first-child {
    margin-left: 0;
}

/* --------------------------------------- Status --------------------------------------- */
/* --------------------------------------- Status --------------------------------------- */
/* --------------------------------------- Status --------------------------------------- */

.status {
    margin-top: 75px;
    padding: 50px 0 50px;
}

.status .content {
    position: relative;
}

.status .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status .row .row-right {
    width: 309px;
    height: 150px;
    margin-left: 165px;
}

.status .row-right .title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 45px;
    color: #000339;
}

.status .row-right .title::before {
    position: absolute;
    content: "";
    width: 41px;
    height: 4px;
    background-color: #000339;
    border-radius: 12px;
    margin-top: -10px;
}

.status .row-right .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    color: #5A6473;
    margin-top: 20px;
}

.status .row .row-left {
    width: 400px;
    height: 460px;
}

.status .row-left .par-img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.status .row .trend {
    position: absolute;
    left: 0;
    width: 239px;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
}

.status .row .trend-padding {
    padding: 45px 23px 0 22px; 
}

.status .row .sup-title {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.status .trend .desc {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 18px;
    color: #A7A7A7;
    margin-top: 8px;
}

.status .trend .separate {
    margin-top: 25px;
    width: 100%;
    height: 1px;
    background-color: #E9E9E9;
    margin-bottom: 26px;
}

.status .trend .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 17px;
    margin-bottom: 40px;
}

.status .trend .avatar-group{
    display: flex;
}

.status .trend .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}

.status .row-two {
    display: flex;
    margin-top: 179px;
    justify-content: space-between;
    align-items: center;
}

.status .row-two .quantity {
    display: block;
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
    margin-bottom: 24px;
}

.status .row-two .desc {
    font-weight: 500;
    font-size: 1.8rem;
    color: #7B8087;
}

/* --------------------------------------- Subscription --------------------------------------- */
/* --------------------------------------- Subscription --------------------------------------- */
/* --------------------------------------- Subscription --------------------------------------- */

.subscription {
    margin-top: 90px;
}

.subscription .body {
    display: flex;
    align-items: center;
    background-color: #063183;
    height: 370px;
    width: 1110px;
    border-radius: 20px;
}

.subscription .info {
    width: 590.9px;
    margin-left:80px;
}

.subscription .info .sub-title {
    color: #FFFFFF;
    line-height: 1.5;
}

.subscription .info .btn {
    color: rgba(0, 35, 102, 1);
    background-color: #fff;
    padding: 18.5px 42.5px;
}

.subscription .info .btn:hover {
    color: #fff;
    background-color: rgba(0, 35, 102, 1);
    transition: 0.5s;
}

.subscription .info .desc {
    color: #FFFFFF;
    opacity: 0.75;
    margin: 15px 0 20px 0;
}

.subscription .image {
    align-self: flex-end;
}

/* --------------------------------------- Footer --------------------------------------- */
/* --------------------------------------- Footer --------------------------------------- */
/* --------------------------------------- Footer --------------------------------------- */

.footer {
    margin-top: 55px;
    padding-top: 50px;
}

.footer .row-one {
    display: flex;
}

.footer .row-one .heading {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1C1C1D;
    margin-bottom: 42px;
}

.footer .social {
    display: flex;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    width: 28px;
    height: 28px;
}

.footer .social-link:last-child {
    margin-right: 0;
}

.row-top {
    gap: 185px;
}

.footer .list a {
    display: inline-block;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #7A7A7E;
    white-space: nowrap;
}

.footer .column .desc {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7A7A7E;
    margin-bottom: 40px;
}

.footer .row-two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 81px 0 58px 0;
}

.footer .row-two .Copyright {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 21px;
    color: #C2C2C2;
}